DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_NAME=exchange_db
JWT_SECRET=troca_secret_dev
JWT_EXPIRES_IN=3600s
RABBITMQ_URL=amqp://guest:guest@localhost:5672
PORT=3001
