DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_NAME=exchange_db
JWT_SECRET=troca_secret_dev
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=trocas.topic
MATCH_TTL_MS=180000
PORT=3003
